@model NetCoreAI.Project2_ApiConsumeUI.Dtos.GetByIdCustomerDto

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<form method="post">
    <div class="container">
        <br /><br />
        <input type="hidden" asp-for="customerId" />
        <label>Müþteri Adý</label>
        <input type="text" asp-for="customerName" class="form-control" />
        <br />
        <label>Müþteri Soyadý</label>
        <input type="text" asp-for="customerSurname" class="form-control" />
        <br />
        <label>Müþteri Bakiye</label>
        <input type="text" asp-for="customerBalance" class="form-control" />
        <br />
        <button class="btn btn-dark">Müþteriyi Güncelle</button>
    </div>
</form>